{% extends 'layout.twig' %}


{% block body %}

<section class="construct3">
</section>

<section class="construct2">
    <h1 class="p-3" style="font-size: 32px;font-weight: bold; color: black; text-align: center;">Les Banques Financieres</h1>
    <section class="p-4">
        <div class="container bacolor mt-4 animated zoomIn">
        <h3 class="p-3" style="font-size: 32px;font-weight: bold; color: #001f5c; text-align: center;">La SGBCI</h3>
        <div class="row">
            <div class="d-flex">
                <div class="col-md-4 mr-2">
                    <img src="img/Sgbci.png" class="img-fluid" alt="..." style="width:250px; height:220px">      
                </div>
                <div class="col-md-8">
                    <h2>Societe Generale de Côte d'Ivoire</h2>
                    <p>Elle ouvre ces porte a toutes personns need to fill out to have her taken away! Meh. Leela's gonna kill me. Yeah, lots of people did.</p>
                    <p>Noooooo! Why would I want to know that? I had more, but you go ahead. When the lights go out, it's nobody's business what goes on between two consenting adults. <strong> Stop it, stop it.</strong> <em> It's fine.</em> I will 'destroy' you!</p>
                    <h2>Isn't it true that you have been paid for your testimony?</h2>
                    <p>In your time, yes, but nowadays shut up! Besides, these are adult stemcells, harvested from perfectly healthy adults whom I killed for their stemcells. Check it out, y'all. Everyone who was invited is here.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="p-4">
        <div class="container bacolor mt-4 animated zoomIn">
        <h3 class="p-3" style="font-size: 32px;font-weight: bold; color: #001f5c; text-align: center;">La BOA</h3>
        <div class="row">
            <div class="d-flex">
                <div class="col-md-4 mr-2">
                    <img src="img/BOA.png" class="img-fluid" alt="..." style="width:250px; height:180px">      
                </div>
                <div class="col-md-8">
                    <h2>Bank Of Africa</h2>
                    <p>Wow, you got that off the Internet? In my day, the Internet was only used to download pornography. You're going back for the Countess, aren't you? Does anybody else feel jealous and aroused and worried?</p>
                    <p>I love you, buddy! Dr. Zoidberg, that doesn't make sense. But, okay! Stop! <strong> Don't shoot fire stick in space canoe!</strong> 
                    <em> Cause explosive decompression!</em> Fry, you can't just sit here in the dark listening to classical music.</p>
                    <p>I love you, buddy! Dr. Zoidberg, that doesn't make sense. But, okay! Stop! <strong> Don't shoot fire stick in space canoe!</strong> 
                    <em> Cause explosive decompression!</em> Fry, you can't just sit here in the dark listening to classical music.</p>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}