<nav class="navbar navbar-expand-lg navbar-dark" style="background: #001f5c;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" href="/">RikBoul</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item p-3">
                    <a href="/Admins/modele" class="nav-link"><i class="material-icon icon">
                        </i><span class="text">Modele</span>
                    </a>
                </li>
                <li class="nav-item p-3">
                    <a href="/Admins/constructeur" class="nav-link"><i class="material-icon icon">
                        </i><span class="text">Constructeur</span>
                    </a>
                </li>
                <li class="nav-item p-3">
                    <a href="/Admins/ContactConstructeu" class="nav-link"><i class="material-icon icon">
                        </i><span class="text">Constructeur Conctacter</span>
                    </a>
                </li>
                <li class="nav-item p-3">
                    <a href="/Admins/infos" class="nav-link"><i class="material-icon icon">                   
                        </i><span class="text">Infos Modele</span>
                    </a>
                </li>
                <li class="nav-item p-3">
                    <a href="/Admins/ProjetConst" class="nav-link"><i class="material-icon icon">                      
                        </i><span class="text">Projet Construction</span>
                    </a>
                </li>
            </ul>
        </div>
</nav>
{# <div class="wrapper d-flex">
    <div class="slideMenu">
        <div class="sidebar">
            
        </div>
    </div>

    <div class="content">
    <main>
        <div class="container-flluid">
            <div class="row">
                <div class="col-md-4 my-3">
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                     Dolores ape
                    riam reprehenderit cum modi et omnis commodi, alias nihil 
                    facere dolore mollitia atque optio, aut error in molestiae 
                    repellat rem?
                </div>
            </div>
        </div>
    </main>
</div>

</div> #}

